# Data (quá nặng để push lên GitHub)
Full_Data/
images_2*/

# Model weights
*.pth
*.pt

# Log & output files
*.log
*.txt

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Editor config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
